<!DOCTYPE html>
<html lang="pt-br">
    <%- include('../parts/page-head')  %> 
<body>
    <%- include('../parts/page-header', {pagina: "Portfólio"})  %>

    <section class="introducao-interna interna_portfolio">
        <div class="container">
            <h1 data-anime="400" class="fadeInDown">Portfólio</h1>
            <p data-anime="800" class="fadeInDown">conheça os produtos que amamos mostrar</p>
            
        </div>
    </section>

    <div class="container fadeInDown" data-slide="quote" data-anime="1200">
        <blockquote class="quote_clientes">
            <p>"No mundo atual, a contínua expansão de nossa atividade cumpre um papel essencial na formulação da gestão inovadora da qual fazemos parte."</p>
            <cite>Barbara Moss</cite>
        </blockquote>

        <blockquote class="quote_clientes">
            <p>"Nada Melhor do que dar um rolê com a minha Bikcraft na orla. Essa é a minha companheira mais fiel, nunca me traiu e está sempre a minha disposição."</p>
            <cite>Jhonny Rato</cite>
        </blockquote>

        <blockquote class="quote_clientes">
            <p>"Aquele que ainda não possui um a Bikcraft, não sabe o que está perdendo. A precisão é absurda e a velocidade transcedental."</p>
            <cite>Bob Burn</cite>
        </blockquote>
    </div>

    <div class="portfolio">
        <div class="container" data-slide="portfolio">
            <ul>
                <li class="grid-8"><img src="img/portfolio/retro.jpg" alt="imagem retro"></li>
                <li class="grid-8"><img src="img/portfolio/passeio.jpg" alt="imagem passeio"></li>
                <li class="grid-16"><img src="img/portfolio/esporte.jpg" alt="imagem passeio"></li>

            </ul>

            <ul>
                <li class="grid-8"><img src="img/portfolio/passeio.jpg" alt="imagem passeio"></li>
                <li class="grid-8"><img src="img/portfolio/retro.jpg" alt="imagem retro"></li>
                <li class="grid-16"><img src="img/portfolio/esporte.jpg" alt="imagem passeio"></li>

            </ul>

        </div>

    </div>

    <%- include('../parts/page-quebra')  %>

    <%- include('../parts/page-footer')  %>

    <%- include('../parts/page-scripts')  %>
    
</body>
</html>